.carre {
  height: 200px;
  width: 200px;
}

@media screen and (max-width: 639px) {
  .carre {
    background-color: blue;
  }
}

@media screen and (min-width: 640px) and (max-width: 1023px) {
  .carre {
    background-color: pink;
  }
}

@media screen and (min-width: 1024px) {
  .carre {
    background-color: red;
  }
}

