html, body {
  height: 100%;
  margin: 0;
  width: 100%;
}

.colonne {
  height: 100%;
  position: absolute;
  top: 0px;
}

#colonne-1 {
  background-color: red;
  left: 0%;
  width: 33%;
}

#colonne-2 {
  background-color: green;
  left: 33%;
  width: 33%;
}

#colonne-3 {
  background-color: blue;
  left: 66%;
  width: 34%;
}

