html {
	box-sizing: border-box;
}

*, *::before, *::after {
	box-sizing: inherit;
}

.habillage {
	float: left;
	margin-right: 10px;
}

.ligne {
	padding: 0 5px;
}

.ligne::after {
	content: "";
	display: table;
	clear: both;
}

.colonne {
	float: left;
	padding: 0 5px;
	width: 50%;
}

@media screen and (max-width: 600px) {
	.colonne {
		width: auto;
	}
}

.fond-bleu {
	background-color: lightskyblue;
}

.fond-rouge {
	background-color: lightcoral;
}


